In [246]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
from collections import Counter
from datetime import datetime
# С переменной удобней работать, чем с полным путем к файлу:
movie_bd_v5_file = 'https://lms.skillfactory.ru/assets/courseware/v1/1d68c628a08cd5521ae70e976577568b/asset-v1:Skillfactory+DST-WEEKLY-2.0+08JULY2020+type@asset+block/movie_bd_v5.csv'

In [247]:
data = pd.read_csv(movie_bd_v5_file)
data.sample(5)

        imdb_id    budget   revenue  ... release_date vote_average release_year
289   tt1352824  15000000   8459458  ...    3/25/2009          5.9         2009
694   tt1031969  15000000   8762890  ...    8/20/2008          5.4         2008
495   tt1028576  35000000  60251371  ...    8/20/2010          6.6         2010
1447  tt0206634  76000000  69959751  ...    9/22/2006          7.3         2006
1354  tt0400497  50000000  66002004  ...    6/18/2005          5.2         2005

[5 rows x 14 columns]

In [248]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [251]:
# Функция извлечения месяца из полной даты.
def change_to_month(date_str):
  date = datetime.strptime(date_str, '%m/%d/%Y')
  return date.month


# Функция извлечения сезона года из полной даты
def change_to_season(date_str):
  date = datetime.strptime(date_str, '%m/%d/%Y')
  if date.month in [12, 1, 2]:
    return 'winter'
  elif date.month in [3, 4, 5]:
    return 'spring'
  elif date.month in [6, 7, 8]:
    return 'summer'
  else:
    return 'autumn'


answers = {} # словарь для ответов

# предобработки колонок:
# прибыль(или убытки) = сборы - бюджет
data['profit'] = data['revenue'] - data['budget']
# месяц в числовом представленииб извлеченный из даты
data['month'] = data['release_date'].apply(lambda date:change_to_month(date))
# сезон года, извлеченный из даты
data['season_of_year'] = data['release_date'].apply(
    lambda date:change_to_season(date))
# количество символов в названии фильма
data['original_title_len'] = data['original_title'].apply(
    lambda film_name:len(film_name))
# количество слов в описании фильма
data['overview_words_count'] = data['overview'].apply(
    lambda word:len(word.split()))

data.sample(5)

        imdb_id     budget  ...  original_title_len overview_words_count
1440  tt0317919  150000000  ...                  23                   40
183   tt1234721  120000000  ...                   7                  126
572   tt0239948   22000000  ...                  16                   31
438   tt1075747   47000000  ...                   9                   66
1235  tt1308729   55000000  ...                  18                   22

[5 rows x 19 columns]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [252]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt0413300)'

In [364]:
print(data[data['budget'] == data['budget'].max()]['original_title'].iloc[0])

Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [256]:
# Если строго как в вариантах ответа, с учётом названия и ID, то:
temp_filter = data['budget'] == data['budget'].max()
temp_index = data[temp_filter].index.to_list()[0]
temp_film_name = data['original_title'][temp_index]
temp_lmdb_id = data['imdb_id'][temp_index]
print(f"{temp_film_name} ({temp_lmdb_id})")

Pirates of the Caribbean: On Stranger Tides (tt1298650)

# 2. Какой из фильмов самый длительный (в минутах)?

In [253]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [363]:
print(data[data['runtime'] == data['runtime'].max()]['original_title'].iloc[0])

Gods and Generals

ВАРИАНТ 2

In [258]:
temp_filter = data['runtime'] == data['runtime'].max()
temp_index = data[temp_filter].index.to_list()[0]
temp_film_name = data['original_title'][temp_index]
temp_lmdb_id = data['imdb_id'][temp_index]
print(f"{temp_film_name} ({temp_lmdb_id})")

Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [254]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [362]:
print(data[data['runtime'] == data['runtime'].min()]['original_title'].iloc[0])

Winnie the Pooh

ВАРИАНТ 2

In [259]:
temp_filter = data['runtime'] == data['runtime'].min()
temp_index = data[temp_filter].index.to_list()[0]
temp_film_name = data['original_title'][temp_index]
temp_lmdb_id = data['imdb_id'][temp_index]
print(f"{temp_film_name} ({temp_lmdb_id})")

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [255]:
answers['4'] = '2. 110'

In [361]:
print(int(round(data['runtime'].mean(), 0)))

110

# 5. Каково медианное значение длительности фильмов?

In [256]:
answers['5'] = '1. 107'

In [360]:
print(int(data['runtime'].median()))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [257]:
answers['6'] = '5. Avatar (tt0499549)'

In [ ]:
# не "разность", а "разница". в математике нет понятия "разность".

In [359]:
print(data[data['profit'] == data['profit'].max()]['original_title'].iloc[0])

Avatar

ВАРИАНТ 2

In [260]:
temp_filter = data['profit'] == data['profit'].max()
temp_index = data[temp_filter].index.to_list()[0]
temp_film_name = data['original_title'][temp_index]
temp_lmdb_id = data['imdb_id'][temp_index]
print(f"{temp_film_name} ({temp_lmdb_id})")

Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [258]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [358]:
print(data[data['profit'] == data['profit'].min()]['original_title'].iloc[0])

The Lone Ranger

ВАРИАНТ 2

In [261]:
temp_filter = data['profit'] == data['profit'].min()
temp_index = data[temp_filter].index.to_list()[0]
temp_film_name = data['original_title'][temp_index]
temp_lmdb_id = data['imdb_id'][temp_index]
print(f"{temp_film_name} ({temp_lmdb_id})")

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [259]:
answers['8'] = '1. 1478'

In [357]:
print(len(data[data['revenue'] > data['budget']]))

1478

ВАРИАНТ 2

In [356]:
print(len(data.query('revenue > budget')))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [260]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [295]:
temp_df = data.query('release_year==2008')
temp_filter = temp_df['revenue'] == temp_df['revenue'].max()
temp_index = temp_df[temp_filter].index.to_list()[0]
temp_film_name = temp_df['original_title'][temp_index]
temp_lmdb_id = temp_df['imdb_id'][temp_index]
print(f"{temp_film_name} ({temp_lmdb_id})")

The Dark Knight (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [261]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [262]:
temp_df = data.query('2012<=release_year<=2014')
temp_filter = temp_df['profit'] == temp_df['profit'].min()
temp_index = temp_df[temp_filter].index.to_list()[0]
temp_film_name = temp_df['original_title'][temp_index]
temp_lmdb_id = temp_df['imdb_id'][temp_index]
print(f"{temp_film_name} ({temp_lmdb_id})")

The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [262]:
answers['11'] = '3. Drama'

In [4]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# объединяем элементы в одну строку и раделяем по '|', создав список

temp_list = data['genres'].str.cat(sep='|').split('|')
temp_series = pd.Series(temp_list)
print(temp_series.value_counts().index.to_list()[0])

Drama

ВАРИАНТ 2

In [354]:
temp_list = data['genres'].str.cat(sep='|').split('|')
genres_temp_list = Counter(temp_list).most_common()
print(genres_temp_list[0][0])

Drama

ВАРИАНТ 3

In [25]:
temp_df = data
temp_df['genres'] = temp_df['genres'].apply(lambda genre:genre.split('|'))
temp_df_genres = temp_df.explode('genres')
print(temp_df_genres['genres'].value_counts().index.to_list()[0])

Drama

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [263]:
answers['12'] = '1. Drama'

In [353]:
temp_filter = data['profit'] > 0
temp_df = data[temp_filter]
temp_list = temp_df['genres'].str.cat(sep='|').split('|')
temp_series = pd.Series(temp_list)
print(temp_series.value_counts().index.to_list()[0])

Drama

ВАРИАНТ 2

In [29]:
temp_filter = data['profit'] > 0
temp_df = data[temp_filter]
temp_df['genres'] = temp_df['genres'].apply(lambda genre:genre.split('|'))
temp_df_genres = temp_df.explode('genres')
print(temp_df_genres['genres'].value_counts().index.to_list()[0])

Drama

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [264]:
answers['13'] = '5. Peter Jackson'

In [32]:
temp_grouped_series = data.groupby(['director'])['revenue'].sum().sort_values()
print(temp_grouped_series.index.to_list()[-1])

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [265]:
answers['14'] = '3. Robert Rodriguez'

In [33]:
temp_filter = data['genres'].str.contains('Action')
temp_df = data[temp_filter]
temp_list = temp_df['director'].str.cat(sep='|').split('|')
temp_series = pd.Series(temp_list)
print(temp_series.value_counts().index.to_list()[0])

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [266]:
answers['15'] = '3. Chris Hemsworth'

In [36]:
temp_filter = data['release_year'] == 2012
temp_df = data[temp_filter]
temp_df['cast'] = temp_df['cast'].apply(lambda cast:cast.split('|'))
temp_df_cast = temp_df.explode('cast')
temp_list_grouped = temp_df_cast.groupby(['cast'])['revenue'].sum().sort_values()
print(temp_list_grouped.index.to_list()[-1])

Chris Hemsworth

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [267]:
answers['16'] = '3. Matt Damon'

In [40]:
temp_filter = data['budget'] > data['budget'].mean()
temp_df = data[temp_filter]
temp_df['cast'] = temp_df['cast'].apply(lambda cast:cast.split('|'))
temp_df_cast = temp_df.explode('cast')
print(temp_df_cast['cast'].value_counts().index.to_list()[0])

Matt Damon

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [268]:
answers['17'] = '2. Action'

In [43]:
temp_filter = data['cast'].str.contains('Nicolas Cage')
temp_df = data[temp_filter]
temp_df['genres'] = temp_df['genres'].apply(lambda genre:genre.split('|'))
temp_df_genres = temp_df.explode('genres')
print(temp_df_genres['genres'].value_counts().index.to_list()[0])

Action

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

# 18. Самый убыточный фильм от Paramount Pictures

In [269]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [104]:
temp_df = data[data['production_companies'].str.contains('Paramount Pictures')]
temp_filter = temp_df['profit'] == temp_df['profit'].min()
temp_index = temp_df[temp_filter].index.to_list()[0]
temp_film_name = temp_df['original_title'][temp_index]
temp_lmdb_id = temp_df['imdb_id'][temp_index]
print(f"{temp_film_name} ({temp_lmdb_id})")

K-19: The Widowmaker (tt0267626)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [270]:
answers['19'] = '5. 2015'

In [102]:
# Серьезно? Так просто? О_о
temp_list_grouped = data.groupby(['release_year'])['revenue'].sum().sort_values()
print(temp_list_grouped.index.to_list()[-1])

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [271]:
answers['20'] = '1. 2014'

In [103]:
temp_df = data[data['production_companies'].str.contains('Warner Bros')]
temp_list_grouped = temp_df.groupby(['release_year'])['profit'].sum().sort_values()
print(temp_list_grouped.index.to_list()[-1])

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [272]:
answers['21'] = '4. Сентябрь (9 месяц)'

In [97]:
print(data['month'].value_counts().index.to_list()[0])

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [273]:
answers['22'] = '2. 450'

In [101]:
temp_df = data[data['season_of_year'] == 'summer']
print(len(temp_df))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [274]:
answers['23'] = '5. Peter Jackson'

In [109]:
temp_filter = data['season_of_year'] == 'winter'
temp_df = data[temp_filter]
temp_df['director'] = temp_df['director'].apply(lambda director:director.split('|'))
temp_df_director = temp_df.explode('director')
print(temp_df_director['director'].value_counts().index.to_list()[0])

Peter Jackson

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [275]:
answers['24'] = '5. Four By Two Productions'

In [245]:
temp_df = data
temp_df['production_companies'] = temp_df['production_companies'].apply(
    lambda companie:companie.split('|'))
temp_df_companie = temp_df.explode('production_companies')
temp_series = temp_df_companie.groupby(['production_companies'])['original_title_len'].mean()
temp_len_df = temp_series.reset_index()
temp_len_df[temp_len_df['original_title_len'] 
                == temp_len_df['original_title_len'].max()]

        production_companies  original_title_len
583  Four By Two Productions                83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [276]:
answers['25'] = '3. Midnight Picture Show'

In [162]:
temp_df = data
temp_df['production_companies'] = temp_df['production_companies'].apply(
    lambda companie:companie.split('|'))
temp_df_companie = temp_df.explode('production_companies')
temp_grouped = temp_df_companie.groupby(
    ['production_companies'])['overview_words_count'].mean()
temp_grouped_df = temp_grouped.reset_index()
print(temp_grouped_df[temp_grouped_df['overview_words_count'] 
                == temp_grouped_df['overview_words_count'].max()]['production_companies'][1041])

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [277]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [180]:
sorted_df = data.sort_values(by='vote_average', ascending=False)
df_best_one_percent = sorted_df.head(int(round(len(sorted_df)*0.01)))
df_best_one_percent['original_title'].to_list()

['The Dark Knight',
 'Interstellar',
 'The Imitation Game',
 'Inside Out',
 'Room',
 'The Wolf of Wall Street',
 'Gone Girl',
 '12 Years a Slave',
 'Guardians of the Galaxy',
 'The Lord of the Rings: The Return of the King',
 'Memento',
 'Inception',
 'The Pianist',
 'The Grand Budapest Hotel',
 'Her',
 'Spotlight',
 'Big Hero 6',
 'The Fault in Our Stars',
 'The Lord of the Rings: The Two Towers']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [278]:
answers['27'] = '5. Daniel Radcliffe, Rupert Grint'

In [250]:
temp_df = data
temp_df['cast'] = temp_df['cast'].apply(
    lambda cast:cast.split('|'))

count = 0
temp_result = list()
for i in range(len(data)):
  temp_list = temp_df['cast'][count]
  result = itertools.combinations(temp_list, 2)
  for item in result:
    temp_result.append(item)
  count += 1

temp_series = pd.Series(temp_result)
temp_series.value_counts()

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Michael Gambon, Diego Luna)           1
(Joel Kinnaman, Max Minghella)         1
(Nicolas Cage, Shahkrit Yamnarm)       1
(Diego Boneta, Bryan Cranston)         1
(John Cena, Robert Patrick)            1
Length: 18121, dtype: int64

# Submission

In [279]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt0413300)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '2': '2. Gods and Generals (tt0279111)',
 '20': '1. 2014',
 '21': '4. Сентябрь (9 месяц)',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe, Rupert Grint',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)'}

In [280]:
# и убедиться что ни чего не пропустил)
len(answers)

27